.container{
    background-image: url("./room.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 70vh;
     width: 100%;
     opacity: 1;
    
     
}
.container .sectionCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container .sectionCenter .modal{
width: 50%;
 height: 60%;
 background: rgba(0%, 0%, 100%, 0.75);
color: white;
display: flex;
flex-direction: column;
align-items: center;
box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);


}
.container .sectionCenter .modal button{
    background-color:#af9a7d ;
    padding: 20px 50px;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
}
.container .sectionCenter .modal h1{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 80px;
    letter-spacing: 10px;
}
.container .sectionCenter .modal h3{
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 50px;
}
.container .sectionCenter .underline {
    width: 20%;
  height: 20px;
}
.container .sectionCenter .underline hr{
    background-color: #af9a7d;
}