.container{
    width: 20vw;
    background-color:#100720;
   height: auto;
   border: 4px solid black;
    

}
.mainContainer{
    width: 20vw;
    height: auto;
    background-color:#100720;
    color:"white";
    display: flex;
}