.container{
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50px;
    
    
    /* align-items: center; */
}

.sectionCenter{
    display: flex;
    justify-content: space-between;
    
}
.sectionCenter div h3{
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #eee;
}
.heading{
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
}
.heading h2{
    font-size: 34px;
    font-weight: bold;
}
.sectionCenter div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}