.Card{
display: flex;
width: 500px;
height: 300px;
border: 1px solid #000000;
padding: 20px;
border-radius: 20px;
justify-content: center;
align-items: center;
/* background-color: #34B3F1; */
}
.CardImage{
    flex: 1; 
}
.img{
    height: 50px;
    width: 50px;
    
    color: white;
}
.iconContainer{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: blueviolet;
    border: 1px solid black;
    color: white;
}
.CardsDetails{
    flex: 1;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}
.CardsDetails h3{
    font-size: 24px;
    font-weight: bold;
    text-align: start;
    width: 100%;
}