
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto+Condensed:wght@300&display=swap');

.container{
    width: 100vw;
    height: 100vh;
    background-color: #EAE3D2;
     /* background-image: url("./booking.jpg"); */
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

}
.container h1{
    font-weight: bold;

}
.formContainer{
    display: flex;
    height: 600px;
    width: 700px;
    margin-top: 200px;
    margin-left: 300px;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #888888;
}

.formContainer .imageContainer{
    width: 40%;
}

.formContainer .imageContainer img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;

}
.formContainer .form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.formContainer .form h2{
    text-align: justify;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    width: 30px;
    margin-right: auto;
    margin-left: 40px;
}
.formAction{
    margin-top: 30px;
    width: 80%;
}
.formAction div{
    display: flex;
    justify-content: space-between;
   margin-bottom: 10px;
   margin-top: 20px;
    
}
.formAction div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formAction div div label{
    font-weight: bold;
}
.formAction div div input{
  padding: 10px;  
}
.emailContainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
label{

}
.emailContainer label{
    margin-right: auto;
    font-weight: bold;
}
.emailContainer input{
    padding:10px;
    width: 100%;
    display: flex;
    
}
.checkInContainer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.peopleContainer{
    
    height: 50px;
}
.btn{
    margin-top: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.btn input{
    padding: 10px;
    background-color: #9ED2C6;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}