.container{
    display: flex;
    width: 100vw;
    height: 100px;
    background-color: #EAE3D2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navIcon{
    width: 20vw;
    background-color: #100720;
    height: 100px;
}
.nav{
    display: flex;
    height: 100px;
    width: 80vw;
    background-color: #EAE3D2;
    margin-left: auto;
}
.links{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links a{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input{
    padding: 15px;
    width: 350px;
    margin-left: 20px;
    border-radius: 20px;
}
.form input::placeholder {
    
    font-size: 1.8em;
    font-style: italic;
  }
  