.container{
    width: 100%;

}
.container .roomContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.container .roomContainer div{
    width: 30%;
    height: auto;
    border: 1px solid ;
    margin: 10px;
}
.container .roomContainer div img{
    width: 100%;
    height: 100%;
}
.container .roomContainer div button{
    padding: 10px;
}