@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto+Condensed:wght@300&display=swap');
.container{
    margin-top: 20px;
    margin-left: 20px;
}
.text{
    font-size: 36px;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
}