.container{
    background-color: #F1F1F1;
    height: 100px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img{
    height: 70%;
    margin-left: 30px;
    
}
.container .links{
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
    
}
.container .links a{
    margin-left: 25px;
    font-size: 30px;
    color:black;
    text-decoration: none;
}
.logo{
    border: 5px solid gold;
    padding: 20px;
}
